#!/bin/bash

# change this to debug opentofu/terraform if needed
# export TF_LOG=INFO

export AWS_SECRET_ACCESS_KEY="GUID"
export AWS_ACCESS_KEY_ID="GUID"

export STACKIT_SERVICE_ACCOUNT_EMAIL="example@sa.stackit.cloud"

export TF_VAR_parent_container_id="GUID"
export TF_VAR_clientname="ExampleClient"
export TF_VAR_admin_email="your@email.com


